$Black-900: hsl(200, 19%, 9%);
$Black-400: hsla(200, 19%, 15%, 0.41);
$Black-300: hsla(200, 20%, 24%, 0.41);
$White-900: hsl(0, 0%, 99%);
$White-800: hsla(0, 0%, 99%, 0.765);
$White-400: hsla(0, 0%, 100%, 0.6)